@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/button';
@import './components/card';
@import './components/form';
@import './components/header';
@import './components/public-layout';
@import './components/spinner';
@import './components/sidenav';
@import './pages/initialization';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply text-mono-black;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}